.gerberNav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    font-size: 22px;
    background-color: #fbfcfc;
    margin: auto;
    opacity: 0.8;
    
}
.logo {
    width: 30px;

    color-scheme: light;
    margin: auto;
}

.fablogo {
    padding-right: 10px;
}

.secondNav {
  display: flex;
  justify-content: end;
  font-size: small;
  color: #ccc;
  background-color: #fafcfd;
}



#overlay{	
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height:100%;
  display: none;
  background: rgba(0,0,0,0.6);
}
.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.spinner {
  width: 40px;
  height: 40px;
  border: 4px #ddd solid;
  border-top: 4px #2e93e6 solid;
  border-radius: 50%;
  animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
  100% { 
    transform: rotate(360deg); 
  }
}
.is-hide{
  display:none;
}





/* CSS */
.button-side {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.15rem;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 0.5em 1.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-side:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-side:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-side:after {
  background-color: #FFFFFF;
}

.button-side span {
  z-index: 1;
  position: relative;
}


ol {
  list-style-type: none;
  margin: 10px 0;
  padding: 10px;
  overflow: hidden;
  width: 100%;
}
.litoggle {
  min-width: 200px;
  display: flex;
  background-color: #ffffff;
  margin-top: 12px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px, rgba(0, 0, 0, 0.22) 0px 0px 0px;
  border-radius: 5px;
}

.toggleName {
  margin-left: 4px !important;
  margin-right: auto !important;
  margin: -6px;
  padding: 9px;
  font-size: 14px;
  font-weight:400;
}

.toggleButton {
  border: 0;
  width: 40px;
  text-align: center;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  transition: background-color 500ms, border-radius 500ms, transform 500ms; /* Added transition properties here */
}

.toggleButton:hover {
  background-color: #cacaca;
  color: #b3b3b3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transform: scale(0.9);
}


/* Add the normal state without hover */
.toggleButton:not(:hover) {
  transform: scale(1);
}

.active {
  color:green;
}
#mainBottom {
  display: flex;
  justify-content: space-around;
}

/* NavButton */
.navButton {
  border: 0;
  min-width: 100px;
}

.navButton:hover {
  background-color: #cacaca;
  color: #b3b3b3;
}



/* NavBar for the layer */
.layerNav {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#addNewButton {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.753);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: fit-content;
}

.navbar-animmenu {
	background: #5161ce;
	float: left;
	overflow: hidden;
	position: relative;
  border-top-left-radius: 10px;
  width: 100%;
  height: 35px;
}
.navbar-animmenu2 {
  background: #5161ce;
	float: left;
	overflow: hidden;
	position: relative;
  border-top-right-radius: 10px;
  width: 100%;
  height: 35px;
}
#navbar-animmenu ul{
	padding: 0px;
	margin-left: 10px;
  cursor: pointer;
  
}

#navbar-animmenu ul li a i{
	margin-right: 12px;
}

#navbar-animmenu li {
	list-style-type: none;
	float: left;
  display: -webkit-inline-box;
}

#navbar-animmenu ul li a{
	color: rgba(255, 255, 255, 0.753);
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    display: block;
    padding-left: 12px;
    padding-right: 5px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
    position: relative;
}

#navbar-animmenu>ul>li.active>a{
	color: #394174;
	background-color: transparent;
	transition: all 0.7s;
}


/* #navbar-animmenu a:not(:only-child):after {
	content: "\f105";
	position: absolute;
	right: 20px;
	top: 10%;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
} */

#navbar-animmenu .active>a:not(:only-child):after {
	transform: rotate(90deg);
}
.hori-selector{
	display:inline-block;
	position:absolute;
	height: 100%;
	top: 6px;
	left: 10px;
	transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	background-color: #f0f0f0;;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.hori-selector .right,
.hori-selector .left{
	position: absolute;
	width: 25px;
	height: 25px;
	background-color: #f0f0f0;;
	bottom: 10px;
}
.hori-selector .right{
	right: -25px;
  top: 4px;
}
.hori-selector .left{
	left: -25px;
  top: 4px;
}
.hori-selector .right:before,
.hori-selector .left:before{
	content: '';
    position: absolute;
    width: 50px;
    height: 60px;
    border-radius: 14%;
    background-color: #5161ce;
}
.hori-selector .right:before{
	bottom: 0;
    right: -25px;
}
.hori-selector .left:before{
	bottom: 0;
    left: -25px;
}





