.gerberNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 22px;
  background-color: #ffffff;
  margin: auto;
  opacity: 0.8;
  
}
.logo {
  width: 30px;

  color-scheme: light;
  margin: auto;
}

.fablogo {
  padding-right: 10px;
}

.secondNav {
display: flex;
justify-content: end;
font-size: small;
color: #ccc;
background-color: #fafcfd;
}


#overlay{	
position: absolute;
z-index: 100;
width: -webkit-fill-available;
height:-webkit-fill-available;
display: none;
background: rgba(0,0,0,0.6);
}
.cv-spinner {
height: 100%;
display: flex;
justify-content: center;
align-items: center;  
}
.spinner {
width: 40px;
height: 40px;
border: 4px #ddd solid;
border-top: 4px #2e93e6 solid;
border-radius: 50%;
animation: sp-anime 0.8s infinite linear;
}
@keyframes sp-anime {
100% { 
  transform: rotate(360deg); 
}
}
.is-hide{
display:none;
}

[contenteditable="true"]:focus {
outline: none;
}

/* Gerber Section Div */
.gerberSection {
  height: 87vh;
}

/* CSS */
.button-side {
appearance: none;
background-color: #FFFFFF;
border-width: 0;
box-sizing: border-box;
color: #000000;
cursor: pointer;
display: inline-block;
font-family: Clarkson,Helvetica,sans-serif;
font-size: 14px;
font-weight: 500;
letter-spacing: 0.15rem;
line-height: 1em;
margin: 0;
opacity: 1;
outline: 0;
padding: 0.5em 1.2em;
position: relative;
text-align: center;
text-decoration: none;
text-rendering: geometricprecision;
text-transform: uppercase;
transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
vertical-align: baseline;
white-space: nowrap;
}

.button-side:before {
animation: opacityFallbackOut .5s step-end forwards;
backface-visibility: hidden;
background-color: #EBEBEB;
clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
content: "";
height: 100%;
left: 0;
position: absolute;
top: 0;
transform: translateZ(0);
transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
width: 100%;
}

.button-side:hover:before {
animation: opacityFallbackIn 0s step-start forwards;
clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-side:after {
background-color: #FFFFFF;
}

.button-side span {
z-index: 1;
position: relative;
}


ol {
list-style-type: none;
padding: 10px;
overflow: hidden;
width: 100%;
}
.litoggle {
min-width: 200px;
display: flex;
background-color: #ffffff;
margin-top: 12px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 10px, rgba(0, 0, 0, 0.22) 0px 0px 0px;
border-radius: 5px;
}

.toggleName {
margin-left: 4px !important;
margin-right: auto !important;
margin: -6px;
padding: 9px;
font-size: 14px;
font-weight:400;
}

.toggleButton {
border: 0;
width: 40px;
text-align: center;
border-top-right-radius: 5px;
border-bottom-right-radius: 5px;
transition: background-color 500ms, border-radius 500ms, transform 500ms; /* Added transition properties here */
}

.toggleButton:hover {
background-color: #cacaca;
color: #b3b3b3;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
transform: scale(0.9);
}


/* Add the normal state without hover */
.toggleButton:not(:hover) {
transform: scale(1);
}

.active {
color:green;
}
/* #mainBottom {
display: flex;
justify-content: space-around;
} */

/* NavButton */
.navButton {
border: 0;
min-width: 100px;
}

.navButton:hover {
background-color: #cacaca;
color: #b3b3b3;
}



/* NavBar for the layer */
.layerNav {
  border-radius: 10px;
}

#addNewButton {
cursor: pointer;
color: rgba(255, 255, 255, 0.753);
position: relative;
display: flex;
align-items: center;
padding-left: 10px;
width: fit-content;
}

.navbar-animmenu {
background: #5161ce;
float: left;
overflow: hidden;
position: relative;
border-top-left-radius: 10px;
width: 100%;
height: 35px;
}
.navbar-animmenu2 {
background: #5161ce;
float: left;
overflow: hidden;
position: relative;
border-top-right-radius: 10px;
width: 100%;
height: 35px;
}
#navbar-animmenu ul{
padding: 0px;
margin-left: 10px;
cursor: pointer;

}

#navbar-animmenu ul li a i{
margin-right: 12px;
}

#navbar-animmenu li {
list-style-type: none;
float: left;
display: -webkit-inline-box;
padding-right: 10px;
min-width: 120px;
max-width: 120px;
}

.editableName {
min-width: 70px;
max-width: 70px;
padding: 0 !important;
white-space: nowrap;
overflow: hidden;
}


#navbar-animmenu ul li a{
color: rgba(255, 255, 255, 0.753);
  text-decoration: none;
  font-size: 15px;
  line-height: 40px;
  display: block;
  padding-left: 12px;
  padding-right: 2px;
  transition-duration:0.6s;
transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbar-animmenu>ul>li.active>a{
color: #394174;
background-color: transparent;
transition: all 0.7s;
}

#navbar-animmenu .active>a:not(:only-child):after {
transform: rotate(90deg);
}
.hori-selector{
display:inline-block;
position:absolute;
height: 100%;
top: 6px;
left: 10px;
transition-duration:0.6s;
transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
background-color: #f0f0f0;;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}
.hori-selector .right,
.hori-selector .left{
position: absolute;
width: 25px;
height: 25px;
background-color: #f0f0f0;;
bottom: 10px;
}
.hori-selector .right{
right: -25px;
top: 4px;
}
.hori-selector .left{
left: -25px;
top: 4px;
}
.hori-selector .right:before,
.hori-selector .left:before{
content: '';
  position: absolute;
  width: 50px;
  height: 60px;
  border-radius: 14%;
  background-color: #5161ce;
}
.hori-selector .right:before{
bottom: 0;
  right: -25px;
}
.hori-selector .left:before{
bottom: 0;
  left: -25px;
}

.navbarRight {
display: flex;
height: inherit;
align-items: center;
justify-content: flex-end;
padding-right: 10px;
color: rgba(255, 255, 255);
transition: 0.5s;
}

.navRightBtn {
display: flex;
align-items: center;
border: none;
background-color: transparent;
transition: 0.5s;
padding-inline: 8px ;
padding-block: 4px;
overflow: hidden;

}

.navRightBtn:hover {
cursor: pointer;
background-color: rgb(255, 255, 255, 0.3);
border-radius: 5px;
color: rgba(255, 255, 255, 1);

}

.hover-content {
cursor: pointer;
display: flex;
opacity: 1;
transition: opacity 1s ease-in-out;
border-radius: 5px;
}

.hover-content .text-box {
display: flex;
justify-content: center;
align-items: center;
font-size: x-small;
font-weight: bold;
color: white;
white-space: nowrap;
width: 0; /* Start with 0 width to hide the text box */
overflow: hidden;
transition: width 0.5s ease-in-out;
}


.hover-content:hover .text-box {
width: 50px; /* Show the text box on hover by increasing its width */
}


/* ---------------------------- Each Layer Div -------------------------------- */
.layerStyle {
padding: 20px;
height: 100%;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
}
#zoomContainer {
transition: all 0.3s;
width: 100%;
height: 100%;
transform-origin: 0px 0px;
transform: scale(1) translate(0px, 0px);
cursor: grab;
display: flex;
justify-content: center;
align-items: center;
}

/* --------------------- Layer List Div ------------------------------- */
.layerVisible {
opacity: 1 !important;
transition: all 0.5s ease-in-out;
}

.layerHidden {
opacity: 0.4 !important;
pointer-events: none;
transition: all 0.5s ease-in-out;
}

.layerHide {
  opacity: 0.3 !important;
  pointer-events: none;
  transition: all 0.5s ease-in-out;
}





/* PNG Container */
.pngContainer {
width: 100%;
height: inherit;
overflow: auto;
}

.pngContainer::-webkit-scrollbar {
display: none;
}

/* PNG Div OF Each Image */
.pngCard {
margin: 10px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
border-bottom-left-radius: 6px;
border-bottom-right-radius: 6px;
transition: 0.3s;
}

.pngCard:hover {
box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.pngAnchorDiv {
overflow: hidden;
padding-bottom: 5px;
padding-inline: 15px;
display: flex;
justify-content: space-between;
align-items: center;
}

.pngButton {
  padding-inline: 10px;
  box-sizing: border-box;
  color: #2a83b6;
  cursor: pointer;
  transition: transform 500ms ease-in-out, background-color 500ms ease-in-out, color 500ms ease-in-out;
}

/* .pngButton:hover {
background-color: #885252;
color: #2a83b6;
transform: scale(1.1);
} */

.deleteButton {
  color: red;
  padding-inline: 10px;
  box-sizing: border-box;
  cursor: pointer;
  transition: transform 500ms ease-in-out, background-color 500ms ease-in-out, color 500ms ease-in-out;
}
/* .deleteButton:hover {
  background-color: #ffffff;
  color: rgb(247, 50, 50);
  transform: scale(1.1);
} */

.pngName {
  outline: none;
}





/* ------------- Toggle ToolWidth Switch ---------------- */
.selectToolWidth {
  display: flex;
  align-items:flex-end;
  justify-content: space-between;
  gap: .5rem;
  transition: 0.5s ease;
}
.selectToolWidth span {
  font-size: 12px; 
  text-wrap: nowrap;
  font-weight: 500;
  color: #394174;
}
.doubleSideDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px 10px 10px 10px;
  transition: 0.5s ease;
}

.doubleSideDiv select {
  position: relative;
  width: 100%;
  border: none;
  background-color: white;
  color: #394174;
  padding: 2px 20px 2px 7px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/images/down-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 5px top 50%, 0 0;
  background-size: 1em auto, 100%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.doubleSideDiv select:hover {
  cursor: pointer;
}
.doubleSideDiv select:focus {
  outline: none;
}
.doubleSideCheckBox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.doubleSideCheckBox span {
  font-size: 12px; 
  text-wrap: nowrap;
  font-weight: 500;
  color: #394174;
}






.sideToggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 16px;
  /* overflow: hidden; */
  border-radius: 4px;
}
.sideToggle input {
  opacity: 0;
  width: 0;
  height: 0;
}
.sideToggle .slider {
  position: absolute;
  cursor: pointer;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ff0000a1;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: inset 0 0 0.0625em 0.125em rgba(255, 255, 255, 0.2), inset 0 0.0625em 0.125em rgba(0, 0, 0, 0.4);
  border-radius: 100rem;
}
.sideToggle .slider .oneSide {
  font-size: 9px;
  position: absolute;
  right: 7px;
  font-weight: 900;
  opacity: 0.9;
  transition: 0.4s ease;
}
.sideToggle .slider .twoSide {
  font-size: 9px;
  position: absolute;
  left: 7px;
  font-weight: 900;
  opacity: 0.9;
  transition: 0.4s ease;
  color: white;
  /* transform: translateX(-59px); */
}
.sideToggle .slider::before {
  position: absolute;
  content: "";
  font-size: 10px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 4px;
  top: 2px;
  left: 3px;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #00d512ba;
  box-shadow: inset 0 0 10px 4px rgba(255, 255, 255, 0.2), inset 0 0.0625em 3px 0px rgba(0, 0, 0, 0.4)
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
  box-shadow:rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
} 
/* input:checked + .slider .oneSide {
  transform: translateX(59px);
}
input:checked + .slider .twoSide {
  transform: translateX(0px);
  opacity: 1;
} */



/* Canvas Select */
.canvasDiv {
  display: flex;
  justify-content:flex-end;
  align-items: center;
  gap: 1rem;
  padding: 10px;
}
.canvasDiv label {
  text-wrap: nowrap;
  color: #434343;
  font-size: 15px;
  font-weight: 500;
}
.canvasSelect {
  border: none;
  background-color: #f0f0f0;
  color: #394174;
  padding: 5px 35px 5px 8px;
  font-size: 13px;
  font-weight: 800;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  /* width: 100%; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cg data-name='Double arrow down'%3e%3crect x='2' y='2' width='20' height='20' rx='1' ry='1' style='fill:%23ece4b7'/%3e%3cpath d='M12 17a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 14.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 17z' style='fill:%23ff8e31'/%3e%3cpath d='M12 13a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4A1 1 0 0 1 12 13z' style='fill:%23ff8e31'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0px top 50%, 0 0;
  cursor: pointer;
  
  box-shadow: 0 1px 1px rgba(0,0,0,0.12), 0 2px 2px rgba(0,0,0,0.12) ;
}

.canvasSelect:focus {
  outline: none;
}


.contentArea {
  height: 90%;
  position: relative;
}
.contentArea .layerBtnGroup {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 99;
  top: 1rem;
}


.contentArea .contentDiv {
  box-shadow:inset rgb(255 255 255) 0px 0px 4px, inset rgb(255 255 255) 0px 0px 13px -3px, rgb(37 37 37 / 54%) 0px 0px 4px inset;
  height: 100%;
  background-color: #e5e5f7;
  opacity: 1;
  background-image: radial-gradient(#444cf7 0.65px, #eff3ff 0.65px);
  background-size: 13px 13px;
}



/* Layer Selector Full Div */
h5{
  font-size: 1.05rem !important;
}
/* Setup Configuration Div */
.setupMainDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}



.setupDiv {
  padding-inline: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
  margin-top: 15px;
}

/* .setupDiv label {
  font-size: 0.9rem;
  font-weight: 500;
  padding-inline: 3px;
} */

.setupDiv select {
  border: none;
  background-color: #f0f0f0;
  color: #394174;
  padding: 3px 35px 3px 8px;
  font-size: 13px;
  font-weight: 800;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3e%3cg data-name='Double arrow down'%3e%3crect x='2' y='2' width='20' height='20' rx='1' ry='1' style='fill:transparent'/%3e%3cpath d='M12 17a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 14.586l3.293-3.293a1 1 0 0 1 1.414 1.414l-4 4A1 1 0 0 1 12 17z' style='fill:%231ea1e8'/%3e%3cpath d='M12 13a1 1 0 0 1-.707-.293l-4-4a1 1 0 1 1 1.414-1.414L12 10.586l3.293-3.293a1 1 0 1 1 1.414 1.414l-4 4A1 1 0 0 1 12 13z' style='fill:%2342bdff'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0px top 50%, 0 0;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}
.setupDiv select:focus {
  outline: none;
}

/* Render To PNG Button */
.contentSvg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  }
  .noselect {
  width:110px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: rgb(31, 14, 14);
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
  background: #5c1e1e;
  overflow: hidden;
  }
  .noselect, .noselect span {
  transition: 700ms cubic-bezier(0.27, -0.66, 0.73, 1.61);
  }
  .noselect .text {
    transform: translateX(5px);
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-wrap: nowrap;
  }
  .noselect .icon {
    transform: translateX(40px);
    color: white;
    opacity: 0;
  }
  .noselect:hover {
    /* width: 130px; */
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  /* .noselect:hover .icon {
    transform: translate(30px);
    opacity: 1;
  
  } */
  





  #layerSelectors ol{
    margin: 0;
  }


/* media queries */
@media (max-width: 992px) {
  .navbar-animmenu {
    border-top-right-radius: 10px;
  }
  .navbar-animmenu2 {
    border-top-left-radius: 10px;
  }

  /* Layer List */
  .layerDiv {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-end;
  }
  .layerDiv div {
    width: 100%;
  }

  /* Gerber Section */
  .gerberSection {
    height: fit-content;
  }

  #canvas {
    padding: 15px;
    margin-bottom: 34px;
    display: flex;
    /* width: 100%; */
    /* gap: 1%; */
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pngCard {
    width: 30%;
    height: fit-content;
  }
  /* Navbar on the right  */
  .navbar-animmenu2 {
    border-radius: 0;
  }
}